<div class="shadow-sm p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <form [formGroup]="bookingGroup" (ngSubmit)="onSubmitReservation()">
      <div class="input-group">
        <!-- gagal pake [readonly]="booking.id" -->
        <div class="mt-3 w-100">
          <label for="guestName" class="form-label">Guest Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            id="guestName"
            [readOnly]="bookingGroup.value.id"
            [ngClass]="{ 'is-invalid': isFormValid('name') }"
          />
        </div>
        <app-validation-message
          [control]="bookingGroup.get('name')"
          [field]="'nama'"
        ></app-validation-message>
        <div class="mt-3 w-100">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            id="email"
            [readOnly]="bookingGroup.value.id"
            [ngClass]="{ 'is-invalid': isFormValid('email') }"
          />
        </div>
        <app-validation-message
          [control]="bookingGroup.get('email')"
          [field]="'email'"
        ></app-validation-message>
        <div class="mt-3 w-100">
          <label for="phone" class="form-label">Phone</label>
          <input
            type="text"
            class="form-control"
            formControlName="phone"
            id="phone"
            [readOnly]="bookingGroup.value.id"
            [ngClass]="{ 'is-invalid': isFormValid('phone') }"
          />
        </div>
        <app-validation-message
          [control]="bookingGroup.get('phone')"
          [field]="'phone number'"
        ></app-validation-message>
        <div class="mt-3 w-100">
          <label for="roomNumber" class="form-label">Room Number</label>
          <input
            type="text"
            class="form-control"
            formControlName="roomNumber"
            id="roomNumber"
            [ngClass]="{ 'is-invalid': isFormValid('roomNumber') }"
          />
        </div>
        <app-validation-message
          [control]="bookingGroup.get('roomNumber')"
          [field]="'room number'"
        ></app-validation-message>
        <div class="mt-3 w-100">
          <label for="duration" class="form-label">Duration</label>
          <input
            type="number"
            class="form-control"
            formControlName="duration"
            id="duration"
            [ngClass]="{ 'is-invalid': isFormValid('duration') }"
          />
        </div>
        <app-validation-message
          [control]="bookingGroup.get('duration')"
          [field]="'duration'"
        ></app-validation-message>
        <div class="mt-3 w-100">
          <label for="guestCount" class="form-label">Guest Count</label>
          <input
            type="number"
            class="form-control"
            formControlName="guestCount"
            id="guestCount"
            [ngClass]="{ 'is-invalid': isFormValid('guestCount') }"
          />
        </div>
        <app-validation-message
          [control]="bookingGroup.get('guestCount')"
          [field]="'guest count'"
        ></app-validation-message>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</div>
