<div class="shadow-sm p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <form>
      <div class="input-group">
        <div class="mb-3 w-100">
          <label for="name" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="name" />
        </div>
        <div class="mb-3 w-100">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="mb-3 w-100">
          <label for="phone" class="form-label">Phone</label>
          <input type="text" class="form-control" id="phone" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<h2>Reservation Form</h2>

<div class="shadow-sm p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <form>
      <div class="input-group">
        <div class="mb-3 w-100">
            <label for="guestName" class="form-label">Guest Name</label>
            <input type="text" class="form-control" id="guestName" />
        </div>
        <div class="mb-3 w-100">
          <label for="roomNumber" class="form-label">Room Number</label>
          <input type="text" class="form-control" id="roomNumber" />
        </div>
        <div class="mb-3 w-100">
          <label for="duration" class="form-label">Duration</label>
          <input type="number" class="form-control" id="duration" />
        </div>
        <div class="mb-3 w-100">
            <label for="guestCount" class="form-label">Guest Count</label>
            <input type="number" class="form-control" id="guestCount" />
        </div>
        <div class="mb-3 w-100">
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control" id="status" />
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
